body.topBarDisabled {
  padding-top:0px;
}

.container-fluid {
  padding-right:15%;
  padding-left:15%;
}

h4 {
  margin: 40px 0 10px;
}

hr {
  margin: 0 0 30px 0;
}

.table {
  margin-top: 40px;
  margin-bottom: 60px;
}

.table thead th {
 text-align: center;
}

.table td img {
  display: block;
  margin: 0 auto;
}
